.css-ghsdor-MuiTableCell-root{background: #050b1a;}
.confusionmatrix .MuiBox-root .MuiBox-root{font-weight: normal; color: #666; border: none;}
.MuiTableRow-root .detailpanel {display: block;}
.detailpanel .jsonvalues .MuiBox-root {display: inline-block;}
.detailpanel .jsonvalues .fielddisplay {border: 1px solid #333; display: inline-block; margin: 2px; background-color: black;}
.detailpanel .jsonvalues .fielddisplay h6 {color: #666; text-align: center;}